/* intuitivnější box-sizing pro všechny prvky na stránce */
html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.logonazev {
  display: flex;
}

.logo {
  margin: 10px 5px;
  width: auto;
  height: 100px;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
}

h1 {
  padding: 20px;
  margin: 0;
  text-align: center;
  display: inline-block;
}

img {
  width: 200px;
  height: auto;
}

header {
  background-color: whitesmoke;
  padding: 10px 22.5px;

}

.ul li {
  display: inline-block;
  list-style: none;
  border: 2px solid #899a6e;
  border-radius: 5px;
}

.ul a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: #899a6e;
}

.ul a:hover {
  background-color: #a6b88d;
  color: #899a6e;
}

.level1 a {
  padding: 5px;
  font-size: small;
}

.level2 {
  text-align: center;
}



.bublina {
  display: flex;
  border: 1px solid red;
  width: 130px;
  height: 40px;
  text-align: center;
  margin: 15px;
}

.mini {
  margin-left: 5px;
  text-align: center;
  width: 20px;
  height: auto;
}

.text {
  padding: 10px 5px;
  text-align: center;
  font-size: small;
}

.header-1 {
  display: flex;
  border-bottom: 1px dotted black;
}
